.loginDiv {
    width: 400px;
    margin: 0 auto;
    padding-top: 250px;
}

.content {
    background-color: rgb(219, 194, 161);
    padding: 20px 30px;
    border-radius: 10px;
}

.button {
    width: 100%;
    background-color: #1c5084;
    border-color: #1c5084;
}

.errMsg {
    color: rgb(199, 12, 12);
}