.label {
    margin-top: 15px;
    font-weight: 600;
}

.priceInput {
    width: 50px;
}

.imgCon {
    width: 130px;
    height: 130px;
    margin-bottom: 20px;
}
.img {
    width: 100%;
    height: 100%;
}

.cancelButton {
    margin-left: 5px;
}