.table {
    background-color: white;
}

.changeStatusBtn {
    padding: 5px 5px;
    margin-left: 10px;
}

.title{
    display: inline-block;
}

.addProductBtn {
    float: right;
    margin-top: 10px;
    // display: inline-block;
}